<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- jQuery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<script>
  $( init );
  function init(){
    $('#drag1').draggable({cancel:false, grid: [ 20 , 20 ]});
  }
  
  function allowDrop(ev) {
    ev.preventDefault();
    console.log("allow drop");
  }

  function drag(ev) {
    ev.dataTransfer.setData("button", ev.target.id);
    console.log("drag");
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("button");
    ev.target.appendChild(document.getElementById(data));
    console.log("drop");
  }
</script>

<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1><%= title %></h1>
        <!-- <button id ="drag1" type="button" class="btn btn-primary btn-lg outline">Please don't</button>
	<br> -->
</form>

	<h2>Available courses</h2>
        <p>Pick a course to get started!</p>
	<form method='post' action='/addCourse'>
	<% for(var i = 0; i < av_courses.length; i++) { %>
	<button type='submit' id='courseCode' name='courseCode' class="btn btn-primary btn-lg outline" value='<%= av_courses[i].code %>'>
	<%= av_courses[i].code %></button>
	<% } %>
	</form>
      
      </div>
      <div id="snap" class="col-sm-8" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h1>Selected courses</h1>
	<form method='post' action='/delCourse'>
	<% for(var i = 0; i < chosen_courses.length; i++) { %>
	    <button type='submit' id='courseCode' name='courseCode' class="btn btn-primary btn-lg outline" value='<%= chosen_courses[i].code %>'>
	    <%= av_courses[i].code %></button>
	<% } %>
</form>
      </div>
    </div>
  </div>
</body>
</html>
